DFNS_APP_ID="app-..."
DFNS_SERVICE_ACCOUNT_CREDENTIAL_ID="sec-..."
DFNS_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"

# Wallet ID for the Issuer (Government)
DFNS_ISSUER_WALLET_ID="wa-..."

# Optional: Wallet ID for the Holder (User)
DFNS_HOLDER_WALLET_ID="wa-..."
